/*****************

 ☻/ well hi there!
/▌
/\

*****************/

#niall {
	height: 190cm;
	width: 100%;
	background: multimedia;
	color: #fff;
	filter: coffee;
	perspective: unique;
	animation-name: programming;
	writing-mode: javascript;

	&.christmas::after {
		width: 200%;
		overflow: visible;
	}
}