
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 1rem;
	-webkit-user-select: none;
	cursor: default;
}

#body {
	font-size: 0;
}

html {
	background-color: #272822;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

*::selection {
	background-color: #a3a4a0;
}

*:focus {
    outline: none;
}

.sidebar {
	height: 100vh;
	width: 220px;
	position: fixed;
	background-color: #e6e6e6;
	cursor: default;
}

.sidebar h1 {
	margin: 5px;
	text-transform: uppercase;
	color: #848588;
	font-weight: 600;
	text-shadow: 0px 1px white;
}

.sidebar ul {
	list-style: none;
}

.sidebar li {
	padding: 6px 10px;
}

.sidebar li.active {
	background: linear-gradient(to bottom, #b2b2b2, #8e8e8e);
	color: white;
	box-shadow: 0px 1px #a0a0a0;
}

.sidebar ul li {
	padding-left: 10px;
}

.sidebar ul ul li {
	padding-left: 30px;
}

.sidebar ul ul ul li {
	padding-left: 50px;
}

.sidebar > ul{
	margin-top: 5px;
}

.sidebar .submenu {
	max-height: 0;
	transition: max-height 0.4s ease;
	overflow: hidden;
}

.sidebar .submenu.open {
	max-height: 300px;
}

.expandable::before {
	content: '\25BA';
	font-size: 12px;
	color: #868686;
	display: inline-block;
	transition: transform .1s ease-out
}

.expandable:hover::before {
	color: #aaa;
}

.expandable.open::before {
	transform: rotateZ(90deg);
}

.tabs-container, .main {
	margin-left: 220px;
	width: calc(100vw - 220px);
}


/*** top tabs ***/
.tabs-container {
	background-color: #171814;
	position: fixed;
	z-index: 3;
	border-bottom: 3px solid #272822;
}

ul.tabs{
  margin: 0;
  list-style-type : none;
  line-height : 35px;
  max-height: 35px;
  overflow: hidden;
  padding-left: 50px;
  padding-right: 20px
}

ul.tabs > li{
  color: #aaa;
  float : left;
  margin : 5px -10px 0;
  border-top-right-radius: 25px 170px;
  border-top-left-radius: 20px 90px;
  padding : 0 50px 0 25px;
  height: 170px;
  background: linear-gradient(to bottom, #4e4f4e, #40413e 8%);
  position : relative;
  box-shadow: 0 10px 20px rgba(0,0,0,.5);
  width : 200px;
  z-index: 0;
  border-top: 1px solid rgba(128, 128, 128, 0.32);
}

ul.tabs > li.active{
  z-index: 2;
  background: linear-gradient(to bottom, #373832, #272822 8%);
  color: white;
}

ul.tabs > li.active:before{
  border-color : transparent #272822 transparent transparent;
}

ul.tabs > li.active:after{
  border-color : transparent transparent transparent #272822;
}

ul.tabs > li.closing {
	transition: all;
	animation: closing-tab .3s 1 forwards;
}

ul.tabs > li:before, ul.tabs > li:after{
  content : '';
  background : transparent;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border-width: 10px;
  top: 0px;
  border-style : solid;
  position : absolute;
  pointer-events: none;
}

ul.tabs > li:before{
  border-color : transparent #40413e transparent transparent;
  -webkit-transform : rotate(48deg);
  left: -23px;
}

ul.tabs > li:after{
  border-color : transparent transparent transparent #40413e;
  -webkit-transform : rotate(-48deg);
  right: -17px;
}

span.tabName {
    max-width: 100%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}

.close-tab::before {
	display: block;
	position: absolute;
	top: 0;
	right: 30px;
	font-size: 16px;
	color: gray;
	text-align: center;
	text-shadow: 0 1px black;
	content: '\00d7';
	position: absolute;
}

.close-tab:hover::before {
	color: #aaa;
}

.main {
	background-color: #272822;
	box-shadow: rgba(0, 0, 0, 0.33) 0px -1px 4px;
    z-index: 1;
    position: relative;
    padding-top: 37px;
    height: 100vh;
}


pre {
	padding-left: 45px;
	cursor: text;
	height: 100%;
}

code, code span {
	-webkit-user-select: text;
	cursor: text;
	font-size: 12px;
}

code a {
	cursor: pointer;
}

img {
	width: 150px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	display: none;
}


/****** icons ******/

.folder, .filename, .image {
	position: relative;
	padding-left: 20px;
}

.folder::before, .filename::before, .image::before {
    width: 16px;
    height: 16px;
    background-size: cover;
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
}

.folder::before {
	background-image: url(../img/icons/folder-closed.svg);
}

.expandable.open .folder::before {
	background-image: url(../img/icons/folder-open.svg);
}

.filename::before {
	background-image: url(../img/icons/file.svg);
	width: 16px;
	height: 16px;
	left: 1px;
}

.image::before {
	background-image: url(../img/icons/image.svg);
}


/** scrollbar styling **/

::-webkit-scrollbar {
    width: 18px;
    height: 18px;
}

::-webkit-scrollbar-track:vertical {
	background: linear-gradient(to right, #232323, #545454);
}

::-webkit-scrollbar-track:horizontal {
	background: linear-gradient(to bottom, #232323, #545454);
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #757575;
    border: 5px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-corner {
	background-color: #272822;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@keyframes closing-tab {
	0% {
		transform: none;
		width: 200px;
		padding: 0 50px 0 25px;
	}
	50% {
		transform: translateY(40px);
		width: 200px;
		padding: 0 50px 0 25px;
	}
	100% {
		transform: translateY(40px);
		width: 0;
		padding: 0;
	}
}